---
permalink: /events/
classes:wide
header:
  overlay_image: /assets/images/splash-home.jpg

feature_row:

  - image_path: /assets/images/risk-home.jpg
    alt: "Supervised Learning"
    title: "Supervised Learning"
    excerpt: "In this workstream, we explore different methods for claim frequency modelling to find the best method and deliver a case study. Click on the link below to find out more about our work."
    url: "https://ifoadatascienceresearch.github.io/supervised-learning/"
    btn_class: "btn--primary"
    btn_label: "Learn more"

  - image_path: /assets/images/twitter-home.jpg
    alt: "Natural Language Processing"
    title: "Natural Language Processing"
    excerpt: "Find out more on how we classified sentiment of UK Twitter messages on COVID-19 using an end-to-end Natural Language Processing (NLP) pipeline and supervised Machine Learning techniques."
    url: "https://ifoadatascienceresearch.github.io/twitter-sentiment/"
    btn_class: "btn--primary"
    btn_label: "Learn more"

  - image_path: /assets/images/federated-home.jpg
    alt: "Federated Learning"
    title: "Federated Learning"
    excerpt: "Federated learning is a pioneering privacy-preserving data technology and also a new machine learning model trained on distributed data sets, removing the need to store sensitive training data on a central server."
    url: "https://ifoadatascienceresearch.github.io/federated-learning/"
    btn_class: "btn--primary"
    btn_label: "Learn more"      
---

## Past Events
{% include feature_row id="feature_row_left" type="left" %}
{% include feature_row id="feature_row_right" type="right" %}
{% include feature_row %}
