<p>
{% assign authorCount = page.author | size %}
{% if authorCount == 0 %}
    No author
{% elsif authorCount == 1 %}
    {{ page.author | first }}
{% else %}
<div itemscope itemtype="https://schema.org/Person">
    {% for author in page.author %}
<p>

          {% if author.avatar %}
            <div class="author__avatar">
              {% if author.home %}
                <a href="{{ author.home | relative_url }}">
                  <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
                </a>
              {% else %}
                <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
              {% endif %}
            </div>
          {% endif %}
    
</p>
    {% endfor %}
</div>

    
{% endif %}
</p>
